services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: backend_Dockerfile.txt
    # volumes:
    #  - ./backend:/app  # Shares the ./backend directory with /app in the container
    # ports:
    #   - "5001:5000"  # Exposes port 5000
    environment:
      FLASK_APP: app.py
      FLASK_RUN_HOST: 0.0.0.0
      FLASK_RUN_PORT: 5000
      FLASK_DEBUG: 1
      SHELLINABOX_KEY: /keys/shellinaboxKEY
    networks:
      dmz-app:
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: frontend_Dockerfile.txt
    # volumes:
    #  - ./frontend:/app  # Shares the ./backend directory with /app in the container
    # ports:
    #   - "5000:5000"  # Exposes port 80
    environment:
      FLASK_APP: app.py
      FLASK_RUN_HOST: 0.0.0.0
      FLASK_RUN_PORT: 5000
      FLASK_DEBUG: 1
    networks:
      dmz-app:
  nginx:
    image: nginx:alpine
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs/nginx.crt:/etc/ssl/certs/nginx.crt:ro
      - ./nginx/certs/nginx.key:/etc/ssl/private/nginx.key:ro
      - ./nginx/html:/etc/nginx/html/
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend
      - shell
    networks:
      dmz-app:
  shell:
    container_name: shell
    build:
      context: .
      dockerfile: shellinabox_Dockerfile.txt
    networks:
      dmz-app:

networks:
  dmz-app:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.0.0/24  # Define a subnet for your network

